<%= render 'layouts/page_layout' %>

<section class="applicants col-md-12">
  <div class="job-applicants">
    <h1 class="category-header">Applicants</h1><h4 class="job-applicants-position"><%= @current_position.title %></h4><p class="job-applicants-count"><%= @applications.count %> applicants</p>
    <h4>You're on your way to finding the next employee of the month!</h4>
		<%= link_to company_jobs_url(:id => params[:company_id]) do %>
      <i class="fa fa-bars"></i> Back to all positions
    <% end %>
    
	 	<div class="job-applicants-list col-md-12">
			<% @applications.each do |application| %>
				<%= link_to applicant_path(:id => application.applicant.id) do %>
					<div class="applicant-box col-md-5">
		        <h4 class="applicant-box-name"><%= application.applicant.last_name %>,
						<%= application.applicant.first_name %></h4>

						<% if application.applicant.rating.present? %>
							<% application.applicant.rating.times do %>
								<i class="fa fa-star"></i>
							<% end %>
						<% end %>

						<p class="applicant-box-role"><%= application.applicant.current_job_role %> at 
						<%= application.applicant.current_job_company %></p>
						<p class="applicant-box-city"><%= application.applicant.current_job_city %></p>
					</div>
        <% end %>
			<% end %>	
		</div>

	</div>
</section>

<%= render 'layouts/page_layout_closing_tags' %>