<!-- <section class="applicants col-md-12">
  <div class="job-applicants">
    <h1 class="category-header"><%= @current_position.title %></h1><p class="job-applicants-count"><%= @applicants.count %> applicants</p>
    <h4>You're on your way to finding the next employee of the month!</h4>
		<#%= link_to company_jobs_url(:id => params[:company_id]) do %>
      <i class="fa fa-bars"></i> Back to all positions
    <#% end %>
    
	 	<div class="job-applicants-list col-md-12">
			<#% @applicants.each do |applicant| %>
				<#%= link_to applicant_path(:id => applicant.id) do %>
					<div class="applicant-box col-md-5">
		        <h4 class="applicant-box-name"><%= applicant.last_name %>,
						<%= applicant.first_name %></h4>

						<#% if applicant.rating.present? %>
							<#% applicant.rating.times do %>
								<i class="fa fa-star"></i>
							<#% end %>
						<#% end %>

						<p class="applicant-box-role"><%= applicant.current_job_role %> at 
						<%= applicant.current_job_company %></p>
						<p class="applicant-box-city"><%= applicant.current_job_city %></p>
						<p class="applied-at-date">Applied on <%= applicant.created_at.strftime("%b %d, %Y") %></p>
					</div>
        <#% end %>
			<#% end %>	
		</div>
	</div>
</section> -->

