<%= form_for([@company, @job]) do |f| %>
	<div class="new-job-form-title">
		<%= f.label :title, "Job Title *" %>
		<%= f.text_field :title, placeholder: "Enter Job Title", required: :true %>
	</div>
	<div>
		<%= f.label :description, "Job Description *" %>
		<%= f.text_area :description, class: "summernote", id:'post_content' %>
	</div>
	<div>
		<%= f.label :employment_type, "Employment Type (optional)" %>
		<%= f.select :employment_type, @employment_type_array, class: "form-control" %>
	</div>
	<div>
		<%= f.label :experience_level, "Experience Level Needed (optional)" %>
		<%= f.select :experience_level, @experience_level_array %>
	</div>
	<div>
		<%= f.label :location, "Location (optional)" %>
		<%= f.text_field :location, placeholder: "Where is this job located?" %>
	</div>
	<div>
		<%= f.label :department, "Department (optional)" %>
		<%= f.text_field :department, placeholder: "Enter Department" %>
	</div>
	<div>
		<%= f.label :job_code, "Job Code (optional)" %>
		<%= f.number_field :job_code, placeholder: "Enter Job Code" %>
	</div>
	<div class="new-questions">
		<p class="show-field">click to add new field</p>
		<p class="text-box">
			
			
		</p>
	<div>
		<%= f.hidden_field :company_id, :value => current_company.id %>
	</div>
	<div>
		<%= f.submit 'Create Job', :class => 'job-submit' %>
	</div>
<% end %>