<%= form_for([@company, @job]) do |f| %>
	<div class="new-job-form-title">
		<%= f.label :title, "Job Title *" %>
		<%= f.text_field :title, placeholder: "Enter Job Title", required: :true %>
	</div>
	<div>
		<%= f.label :description, "Job Description *" %>
		<%= f.text_area :description, class: "summernote", id:'post_content' %>
	</div>
	<div>
		<%= f.label :employment_type, "Employment Type" %>
		<%= f.select :employment_type, @employment_type_array, class: "form-control" %>
	</div>
	<div>
		<%= f.label :experience_level, "Experience Level Needed" %>
		<%= f.select :experience_level, @experience_level_array %>
	</div>
	<div>
		<%= f.label :location, "Location (optional)" %>
		<%= f.text_field :location, placeholder: "Where is this job located?" %>
	</div>
	<div>
		<%= f.label :department, "Department (optional)" %>
		<%= f.text_field :department, placeholder: "Enter Department" %>
	</div>
	<div>
		<%= f.label :job_code, "Job Code (optional)" %>
		<%= f.text_field :job_code, placeholder: "Enter Job Code" %>
	</div>
<!-- 	<div>
		<%#= f.label :additional_question1, "Additional Question #1 (optional)" %>
		<%#= f.text_field :additional_question1, placeholder: "Any other questions you want to ask?" %>
	</div>
	<div>
		<%#= f.label :additional_question2, "Additional Question #2 (optional)" %>
		<%#= f.text_field :additional_question1, placeholder: "Any other questions you want to ask?" %>
	</div>
	<div>
		<%#= f.label :additional_question3, "Additional Question #3 (optional)" %>
		<%#= f.text_field :additional_question1, placeholder: "Any other questions you want to ask?" %>
	</div> -->
	<div>
		<%= f.hidden_field :company_id, :value => current_company.id %>
	</div>
	<div>
		<%= f.submit 'Create Job', :class => 'job-submit' %>
	</div>
<% end %>