<p>
	<strong>Title:</strong>
  <%= best_in_place @job, :title, :type => :input, :path => company_job_path %>
</p>
<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<p>
  <strong>Employment Type:</strong>
  <%= best_in_place @job, :employment_type, :type => :select, :collection => Job.employment_types_for_select, :path => company_job_path %>
</p>
<p>
  <strong>Minimum Experience:</strong>
  <%= best_in_place @job, :experience_level, :type => :select, :collection => Job.experience_level_for_select, :path => company_job_path %>
</p>
<p>
  <strong>Department:</strong>
  <%= @job.department %>
</p>
<p>
  <strong>Job Code:</strong>
  <%= @job.job_code %>
</p>

