<p class="show-job-page-label">Description</p>
<p class="show-job-description job-info">
  <%= @job.description.html_safe %>
</p>

<p class="show-job-page-label">Employment Type</p>
<p class="show-job-employment-type job-info">
  <%= @job.employment_type %>
</p>

<p class="show-job-page-label">Location</p>
<p class="show-job-location job-info">
  <%= @job.location %>
</p>

<p class="show-job-page-label">Minimum Experience</p>
<p class="show-job-minimum-experience job-info">
  <%= @job.experience_level %>
</p>

<p class="show-job-page-label">Department</p>
<p class="show-job-department job-info">
  <%= @job.department %>
</p>

<p class="show-job-page-label">Job Code</p>
<p class="show-job-code job-info">
  <%= @job.job_code %>
</p>

