<% content_for :title do %>Job Openings<% end %>

<section class="positions-first col-md-12">

  <% if flash[:notice] %>
    <%= render 'layouts/messages' %>
  <% end %>

  <div class="openings">

    <div class="first-section">
      <h1 class="category-header">Job Openings</h1>
      <p class="openings-count"><%= @current_positions.count %>
        <% if @current_positions.count == 1 %> opening
        <% else %> openings
        <% end %>
      </p>
      <% if @current_positions.present? %>
        <%= link_to ' + New Opening', new_company_job_path, :class => "new-opening-button" %>
      <% end %>
      <h4 class="openings-header col-md-12">
        <span class="col-md-6">From here, you can create new job openings and view/edit current openings below. You can also jump directly to an openings' applicants to view their profiles.</span>
      </h4>
    </div><!--end first-section-->

    <% if @current_positions_unfilled.present? %>
      <h2 class="current-header">Unfilled</h2>
    <% end %>

    <% if @current_positions.empty? %>
      <div class="blank-state col-md-12">
        <%= link_to "Let's go!", new_company_job_path, :class => "new-opening-button-blank-state col-md-offset-5" %>
      </div>
    <% else %>
      <div class="positions-list">
        <ul>
          <% @current_positions_unfilled.each do |job| %>
            <%= render partial: 'applicants_list', locals: { job: job } %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @current_positions_filled.present? %>
      <h2 class="current-header">Filled</h2>
    <% end %>

    <div class="positions-list">
      <ul>
        <% @current_positions_filled.each do |job| %>
          <%= render partial: 'applicants_list', locals: { job: job } %>
        <% end %>
      </ul>
    </div>

  </div><!-- end openings-->
</section>


