<div class="company-page">
	<div class="container">
		<div class="content">
			<%= render 'shared/side_nav' %>
			<div class="main">
				<section class="openings-first col-md-12">
					<div class="new-job-section">
						<h1 class="category-header">New Opening</h1>
							<div class="new-job-form">
								<p class="job-details-header">Edit Job Details</p>
							<%= form_for(@job) do |f| %>
								<div>
									<%= f.label :title %>
									<%= f.text_field :title, placeholder: "Enter Job Title" %>
								</div>
								<div>
									<%= f.label :description %>
									<%= f.text_area :description, id:'post_content' %>
								</div>
								<div>
									<%= f.hidden_field :company_id, :value => current_user.company.id %>
								</div>
								<div>
									<%= f.submit 'Create', :class => 'job-submit' %>
								</div>
							<% end %>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>




