<% content_for :title do %><%= current_company.name %> - <%= @job.title %><% end %>

<section class="job-description col-md-12">

  <% if flash[:notice] %>
    <%= render 'layouts/messages' %>
  <% end %>

  <p class="back-to-openings-button">
    <%= link_to "&#8592; Back to all openings".html_safe, company_jobs_url %>
  </p>
  <div class="job-description-first">
    <%= link_to 'Edit opening', edit_company_job_path, :class => "edit-opening-button" %>
    <h1 class="category-header show-job-title job-info">  <%= @job.title %></h1><br>

    <% if @current_job.filled_status == false %>
      <p class="status job-open">
        <%= link_to company_job_filled_path(:job_id => params[:id]) do %>
          <i class="fa fa-square-o"></i>
          <span>Open</span>
        <% end %>
      </p>
      <span class="open-filled-description">Click to change status from open to filled</span>
    <% elsif @current_job.live_status == true %>
      <p class="status job-filled">
        <%= link_to company_job_unfilled_path(:job_id => params[:id]) do %>
          <i class="fa fa-check-square"></i>
          <span>Filled</span>
        <% end %>
      </p>
      <span class="open-filled-description">Click to change status from filled to still open</span>
    <% end %>

    <div class="job-details-form">
      <div class="job-information">
        <p>
      <!-- <%#= link_to job_applicants_path(:job_id => params[:id]) do %>
          <%= @applicants.count %>
          Applicants<#% end %> -->
        </p>
        <p></p>
        <p class="time-ago"><i>Updated <%= time_ago_in_words(@current_job.updated_at) %> ago</i></p>
      </div>

      <%= render 'job_description' %><br>

      <h4 class="col-md-10 col-md-offset-1">Below is the unique URL to this job opening's application page. Copy it and post it on your website, job boards, and anywhere else you want to start searching for your next superstar employee.</h4>
      <p class="copy-url-text col-md-8 col-md-offset-1" id='fe_text'><%= "#{request.original_url}" + "/apply" %></p>  
      <button class='my_clip_button' data-clipboard-target='fe_text' id='d_clip_button'>
        Copy to clipboard
      </button>

    </div>
    
  </div>
</section>


