<%= render 'layouts/page_layout' %>

	<section class="job-description col-md-12">
		<p class="back-to-openings-button"><%= link_to "&#8592 Back to all openings".html_safe, company_jobs_url %></p>
		<div class="job-description-first">
			<h1 class="category-header show-job-title job-info">  <%= best_in_place @job, :title, :type => :input, :path => company_job_path, :ok_button => "Save", :ok_button_class => "job-title-save-btn"%></h1>
			<%#= link_to 'Save and return', company_jobs_url, :class => "save-job-button" %>
			<div class="job-details-form">
				<div class="job-information">
					<p>
				<!-- <%#= link_to job_applicants_path(:job_id => params[:id]) do %>
						<%= @applicants.count %>
					  Applicants<#% end %> -->
					</p>
					<p></p>
					<p class="time-ago"><i>Updated <%= time_ago_in_words(@current_job.updated_at) %> ago</i></p>
				</div>
				<p><b>Guess what!</b><i> You can edit fields simply by clicking on them!</i></p>
				<% if @current_job.live_status == true %>
					<%= link_to 'Make this job inactive', company_job_make_inactive_path(params[:company_id] && :job_id => params[:id]), method: :put, :confirm => 'Are you sure you want to make this job inactive?', class: "job-inactive-button" %>
				<% elsif @current_job.live_status == false %>
					<%= link_to 'Make this job active', company_job_make_active_path(params[:company_id] && :job_id => params[:id]), method: :put, :confirm => 'Are you sure you want to make this job active?', class: "job-inactive-button" %>
				<% end %>
				<br>
				<%= render 'job_description' %>
				<h4 class="col-md-10 col-md-offset-1">Below is the unique URL to this job opening's application page. Copy it and post it on your website, job boards, and anywhere else you want to start searching for your next superstar employee.</h4>
				<p class="copy-url-text col-md-6 col-md-offset-3"><%= "#{request.original_url}" + "/apply" %></p>
			</div>
		</div>
	</section>

<%= render 'layouts/page_layout_closing_tags' %>
