<%= form_for(@applicant) do |f| %>
  <div class="apply-form-title">
    <%= f.label :first_name, "First name *", class: "col-md-3" %>
    <%= f.text_field :first_name, required: :true %>
  </div>
  <div>
    <%= f.label :last_name, "Last name *", class: "col-md-3" %>
    <%= f.text_field :last_name, required: :true %>
  </div>
  <div>
    <%= f.label :phone_number, "Phone number *", class: "col-md-3" %>
    <%= f.telephone_field :phone_number, required: :true %>
  </div>
  <div>
    <%= f.label :email_address, "Email address *", class: "col-md-3" %>
    <%= f.email_field :email_address, required: :true %>
  </div>
  <div>
    <%= f.label :current_job_role, "Current role *", class: "col-md-3" %>
    <%= f.text_field :current_job_role, placeholder: "What is your current title?", required: :true %>
  </div>
  <div>
    <%= f.label :current_job_company, "Current company *", class: "col-md-3" %>
    <%= f.text_field :current_job_company, placeholder: "Company where you currently work", required: :true %>
  </div>
  <div>
    <%= f.label :current_job_city, "Current city *", class: "col-md-3" %>
    <%= f.text_field :current_job_city, placeholder: "Where is your current company located?", required: :true %>
  </div>
  <div>
    <%= f.label :resume, class: "col-md-3" %>
    <%= f.file_field :resume %><br><p>(.pdf, .doc, .docx only please!)</p>
  </div>  
  <div>
    <%= f.label :cover_letter, class: "col-md-3" %>
    <%= f.file_field :cover_letter %><br><p>(.pdf, .doc, .docx only please!)</p>
  </div>
  <%= hidden_field_tag "job_id", params[:job_id] %>
  <%= hidden_field_tag "company_id", params[:company_id] %>
  <div>
    <%= f.submit 'SUBMIT APPLICATION', :class => 'job-submit' %>
  </div>
<% end %>
