<div class="application-page">
	<div class="container">
		<div class="application-main col-md-10 col-md-offset-1">
			<h3 class="job-application-company"><%= @company.name %></h3>
			<h2 class="job-application-title"><%= @job_application.title %></h2>
			<p class="job-application-info"><b>Location:</b> <%= @job_application.location %></p>
			<p class="job-application-info"><b>Department:</b> <%= @job_application.department %></p>
			<p class="job-application-info"><b>Employment Type:</b> <%= @job_application.employment_type %></p>
			<p class="job-application-info"><b>Min. Experience Level:</b> <%= @job_application.experience_level %></p><br>
			<div class="job-application-info description"><%= @job_application.description.html_safe %></p>
			</div>
			<h4 class="apply-header">Apply for this job</h4>
			<div class="apply-box">
				
				<div class="apply-form col-md-12">
					<%= render 'apply_form' %>
				</div>
				<span><script type="IN/Apply" data-companyId="<%= params[:company_id] %>" data-jobTitle="<%= @job_application.title %>" data-themeColor="#FF9900" data-size="medium" data-jobLocation="<%= @job_application.location %>" data-phone="required" data-jobId="<%= @job_application.id %>"></script></span>
			</div>
		</div>
	</div>
</div>