<% content_for :title do %>Prospects<% end %>

<section class="col-md-12">

	<div class="all-prospects">
		<h1 class="category-header">Prospects</h1>
	  <h4>You can view all current and past applicants here</h4>

		<div>
			<%= form_tag(company_prospects_path, method: :get) do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search by name, skill, location, current job, or keyword", :class => "col-md-9 col-md-offset-1 prospect-search-bar" %>
				<%= image_submit_tag('search.png', class: "prospect-search-submit") %>
			<% end %>
		</div>

		<div class="prospects-results">
			<ul class="prospect-list-headers">
				<span class="col-md-2"><li>Name</li></span>
				<span class="col-md-3"><li>Current job</li></span>
				<span class="col-md-5"><li>Applied for</li></span>
				<li>City</li>
				<!-- <span class="quick-view"><li>View</li></span> -->
			</ul>
			<% @applicants.each do |applicant| %>
				<ul>
					<%= link_to applicant_path(:id => applicant.id) do %>
						<li class="prospect"> 
							<span class="prospect-name col-md-2"><%= applicant.full_name %></span> 
							<span class="current-role col-md-3">
								<span class="prospect-role"><%= applicant.current_job_role %></span> at
								<span class="prospect-company"><%= applicant.current_job_company %></span> 
							</span>
							<span class="prospect-applied-for-job col-md-5"><%= Job.find(applicant.job_application.job_id).title %> (ID: <%= Job.find(applicant.job_application.job_id).job_code %>) </span>
							<span class="prospect-city"><%= applicant.current_job_city %> </span> 
							<!-- <i class="fa fa-eye"></i> -->
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>

	</div>

</section>

