<% if user_signed_in? %>
	<% if current_user.stripe_customer_token.blank? %>
		<li class="trial-time-left">
			<%= link_to trial_expired_path do %>
				You have <%= current_user.remaining_days %> days left in your free trial
			<% end %>
		</li>
	<% end %>
<% else %>
  <li class="signup-link">
  	<%= link_to 'Sign up for a free trial', new_user_registration_path %>
 	</li>
<% end %>

<li class="login-logout-link">
	<% if user_signed_in? %>
  	<%= link_to 'Logout', destroy_user_session_path, :method=>'delete',:class => 'login-logout-link' %>
	<% else %>
  	<%= link_to 'Login', new_user_session_path, :class => 'login-logout-link' %>
	<% end %>
</li>
