<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EasyHire" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hr" %>">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.min.js"></script>-->
    <%= csrf_meta_tags %>
  </head>
  <body>
  <header>
    <%= render 'layouts/navigation' unless @disable_nav %>
  </header>

  <%= yield %>

  </body>
</html>
